//  Header styles background

.blogHeader {
    background: url(../assets/blog-1.jpeg);
    background-size: cover;
    height: 100vh;
}

// Featured post styles

article {
    padding: 100px 0;
}
h2 {
    @include largeHeader;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

article h5 {
    @include pText;
    padding: 20px 0 75px 0;
}

article h5 span,
p.dark {
color: $black;
}

article img {
    border-radius: 50%;
    margin-right: 30px;
}

.container.blogInfo {
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: $border;
    margin-bottom: 50px;
}

article .container .container {
    align-items: center;
}

.container.right .textContainer {
    margin-left: 60px;
}

article p {
    margin-bottom: 30px;
}

div.share {
    justify-content: flex-start;
}

article nav ul {
    display: flex;
}

article nav li {
    padding: 0 10px;
}

article nav a {
    color: $black;
}

// Related posts styles

h3.heading {
    @include largeHeader;
    font-size: 1.7rem;
    padding-bottom: 25px;
    margin-bottom: 50px;
    border-bottom: $border;
}

.relatedPosts p {
    text-transform: uppercase;
    padding: 20px 0 100px 0;
    font-family: 'Montserrat', sans-serif;
}

//  Comments Styles 
.comments {
    margin-bottom: 100px;
}

.comments .textContainer {
    flex-basis: 90%;
    padding: 20px;
    background: $whiteTwo;
    margin-bottom: 25px;
}

.comments span {
    text-transform: none;
    color: $lightBlack;
    font-style: oblique;
}

.comments .textContainer p:first-of-type {
    padding: 10px 0;
}

p.date {
    font-family:  'Montserrat', sans-serif;
    opacity: 0.5;
    font-size: 0.7rem;
}

//  Form styles 

form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 175px;
}

input {
    flex: 1 1 calc(100% / 3 - 45px);
    margin-bottom: 30px;
}
input[type="email"] {
    margin: 0 45px 30px;
}

section textarea {
    flex-basis: 100%;
    height: 150px;
    resize: none;
}

input, 
textarea{
    padding: 10px;
    border: none;
    border-bottom: $border;
}

input::placeholder,
textarea::placeholder {
    @include pText;
}

section button[type="submit"] {
    margin-top: 60px;
    background: none;
    border: none;
    border-bottom: $border;
    @include smallHeader;
    color: $lightBlack;
    padding-bottom: 10px;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
section button:hover,
section button:focus {
    border-bottom: $darkBorder;
    color: $black;
}

input:hover::placeholder,
input:focus::placeholder,
textarea:hover::placeholder,
textarea:focus::placeholder {
    opacity: 1;
    color: $black;
}
