@media(max-width: 940px) {
    //  Header 

    header .container {
        flex-direction: column;
        nav,
        h1 {
            width: 40%;
        }
    } 

    // Home

    section.features {
        background-position: 35%;
        ul {
            transform: translateX(0);
        }
    }

    //  Blog 

    form input:nth-of-type(2) {
        margin-right: 0;
        margin-left: 60px;
    }

    // Footer 

    footer .wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        .textContainer {
            flex: 1 1 40%;
        }
        .textContainer:last-of-type {
            text-align: left;
            align-items: flex-start;
            margin-top: 40px;
        }
    }
}

@media(max-width: 768px) {
    // Home

    .branding .words {
        width: 180px;
    }
    .contact {
        flex-direction: column;
        .container,
        .imgContainer {
            width: 100%;
        }
        .container {
            padding: 100px 0;
        }
    }

    // Blog 

    article .blogInfo {
        flex-direction: column;
        .container {
            justify-content: start;
            .imgContainer {
                margin-bottom: 30px;
            }
        }
        .right .textContainer:first-of-type {
            margin-left: 0;
        }
    }

    .relatedPosts .container {
        flex-direction: column;
        .post img{
            width: 100%;
        }
    }

    form input:nth-of-type(2) {
        margin-left: 20px;
    }

    // Footer 

    footer .wrapper {
            align-items: flex-start;
            flex-direction: column;
            .textContainer:nth-of-type(2) {
                margin-top: 40px;
                h3 {
                    text-align: left;
                }
            }
        }

}

@media(max-width: 580px) {
    form input:nth-of-type(2) {
        margin-left: 0;
    }
}

@media(max-width: 480px) {
    .wrapper {
        width: 90%;
    }
    // Home 

    .branding .words {
        width: 100px;
        left: -45px;
        bottom: 90px;
    }
    
    .branding .container {
        flex-direction: column;
        .textContainer:first-of-type {
            padding-bottom: 0;
        }
    }

    // Blog 

    article h2 {
        font-size: 2rem;
    }
    article .blogInfo .right {
        flex-direction: column;
        align-items: start;
        .textContainer {
            margin-left: 0;
        }
    }
}